h1 {
  color: #cce2cb;
  font-size: 36px;
  margin-left: 20px;
}

body {
  background-color: white;
  margin-left: 40px;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  background-color: white;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #f6f6eb;
  padding: 10px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: white;
  padding: 10px;
}
