* {
  margin:0;
  padding:0;
  text-indent:0;
}

h1 {
  color: black;
  font-family:"Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 17pt;
}

.s1 {
  color: #666;
  font-family:"Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 10.5pt;
}

.s2 {
  color: #666;
  font-family:"MS PGothic", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 10.5pt;
}

a {
  color: #666;
  font-family:"Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 10.5pt;
}

h2 {
  color: black;
  font-family:"Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 11pt;
}

.s3 {
  color: #666;
  font-family:"Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11pt;
}

.s4 {
  color: #666;
  font-family:"MS PGothic", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11pt;
}

.p, p {
  color: black;
  font-family:"Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11pt;
  margin:0pt;
}

li {
  display: block;
}

#l1 {
  padding-left: 0pt;
}

#l1> li>*:first-child:before {
  content: "- ";
  color: black;
  font-family:"Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11pt;
}
